Andrew Patterson <ajpatterson@lifesci.dundee.ac.uk> <workonly@qidane.com>
Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> <A.Tarkowska@dundee.ac.uk> 
Brian Loranger <bwzloranger@lifesci.dundee.ac.uk>
Chris Allan <callan@glencoesoftware.com> <callan@blackcat.ca>
Colin Blackburn <c.blackburn@dundee.ac.uk> <colin@ximenes.org.uk>
Dominik Lindner <d.lindner@dundee.ac.uk>
Dominik Lindner <d.lindner@dundee.ac.uk> <dominikl@users.noreply.github.com>
Donald MacDonald <dzmacdonald@lifesci.dundee.ac.uk>
Donald MacDonald <dzmacdonald@lifesci.dundee.ac.uk> <donald@Grumpy.dyn.lifesci.dundee.ac.uk>
Donald MacDonald <dzmacdonald@lifesci.dundee.ac.uk> <dzmacdonald@05709c45-44f0-0310-885b-81a1db45b4a6>
Helen Flynn <h.flynn@dundee.ac.uk> <omehelen@gmail.com>
Jean-Marie Burel <j.burel@dundee.ac.uk> 
Josh Moore <josh@openmicroscopy.org> <josh.moore@gmx.de>
Josh Moore <josh@openmicroscopy.org> <j.a.moore@dundee.ac.uk>
Josh Moore <josh@openmicroscopy.org> <josh@glencoesoftware.com>
Mark Carroll <m.t.b.carroll@dundee.ac.uk> <M.T.B.Carroll@Dundee.ac.uk>
Petr Walczysko <p.walczysko@dundee.ac.uk>
Riad Gozim <r.gozim@dundee.ac.uk> <rgozim1@gmail.com>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@debian.org>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@dundee.ac.uk>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@codelibre.net>
Scott Littlewood <sylittlewood@dundee.ac.uk> <scottlittlewood@gmail.com>
Sébastien Besson <sbesson@glencoesoftware.com> <seb.besson@gmail.com>
Sébastien Simard <ssimard@pasteur.fr>
Susanne Kunis <susebo@gmail.com>
Susanne Kunis <susebo@gmail.com> <sukunis@uos.de>
Will Moore <w.moore@dundee.ac.uk> <will@lifesci.dundee.ac.uk>
